<div class="container">
  <div class="title-lps text-center">
    <h1>Les actualités du Parc Sauvage</h1>
  </div>

  <% @blogposts.each do |blogpost| %>

    <div class="card-blogpost">

      <div class="card-blogpost-title text-center text-lg-left">
        <h2> <%= blogpost.title %> </h2>
      </div>

      <div class="row h-100">

        <div class="col-xs-12 col-lg-6 my-auto">
          <div class="card-blogpost-image">
            <%= link_to blogpost_path(blogpost) do %>
              <%= cl_image_tag blogpost.photo %>
            <% end %>
          </div>
        </div>

        <div class="col-xs-12 col-lg-6">
          <div class="card-blogpost-description text-justify">
            <%= blogpost.description.truncate(600, separator: ' ').html_safe %>
            <p><em> Publié le <%= blogpost.created_at.strftime("%d/%m/%Y") %> </em></p>
          </div>
          <%= link_to "Lire la suite", blogpost_path(blogpost), class: "button button-transparent" %>
        </div>

      </div>

      <div class="card-blogpost-lign">
      </div>

    </div>
  <% end %>
</div>

