<% content_for :meta_title, "Le Parc Sauvage - #{@blogpost.title}" %>
<% content_for :meta_description, @blogpost.description_without_tags %>
<% content_for :meta_image, cl_image_path(@blogpost.photo) %>


<div class="container">
  <div class="main-title">
    <h1><%= @blogpost.title %></h1>
  </div>
  <div class="row">
    <div class="col mb-5">
      <%= cl_image_tag @blogpost.photo, quality: :auto, fetch_format: :auto, class:"blogpost-photo-lps" %>
    </div>
  </div>
  <div class="row">
    <div class="col text-justify">
      <p><%= @blogpost.description.html_safe %></p>
      <p><em>Publié le <%= @blogpost.created_at.strftime("%d/%m/%Y") %></em></p>
      <%= link_to "Retour à toutes les actualités", blogposts_path, class: "button button-transparent" %>
    </div>
  </div>
</div>
