<div class="navbar-lps">
  <a href="/" class="navbar-lps__logo">
    <%= image_tag "logo.png" %>
  </a>
  <div class="d-none d-md-block">
    <div class="d-flex align-items-center justify-content-between">
      <%= link_to "Le parc", "#", class: "navbar-lps__link" %>
      <%= link_to "Actualités", "#", class: "navbar-lps__link" %>
      <%= link_to "L'équipe", "#", class: "navbar-lps__link" %>
      <%= link_to "Partenariats", "#", class: "navbar-lps__link" %>
      <%= link_to "Infos pratiques", "#", class: "navbar-lps__link" %>
    </div>
  </div>
  <div class="d-block d-md-none">
    <div class="navbar-lps__menu">
      <input id="toggle" type="checkbox"/>
      <label class="navbar-lps__hamburger" for="toggle">
        <div class="navbar-lps__top"></div>
        <div class="navbar-lps__middle"></div>
        <div class="navbar-lps__bottom"></div>
      </label>

      <div class="navbar-lps__wrapper">
        <div class="navbar-lps__items">
          <nav class= "d-flex flex-column">
            <%= link_to "Le parc", "#", class: "navbar-lps__link" %>
            <%= link_to "Actualités", "#", class: "navbar-lps__link" %>
            <%= link_to "L'équipe", "#", class: "navbar-lps__link" %>
            <%= link_to "Partenariats", "#", class: "navbar-lps__link" %>
            <%= link_to "Infos pratiques", "#", class: "navbar-lps__link" %>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
