<% content_for :meta_title, "Le Parc Sauvage - Centre de sauvegarde" %>
<% content_for :meta_description, "Le Parc Sauvage - Centre de sauvegarde" %>

<%= render(
  'shared/banner',
  img: "backup_center.jpg",
  img_alt: "Centre de sauvegarde",
  img_title: "Centre de sauvegarde",
  title: "Le centre de sauvegarde du Parc Sauvage - ouverture 2021"
) %>

<div class="container pages-lps-container text-justify">
  <p>
    La vocation du centre de sauvegarde de la Faune Sauvage est l’accueil exclusif d’animaux issus de la faune sauvage, en situation de détresse dans l’optique de leur ré-insertion finale en milieu naturel.
    <br>
    Les centres de sauvegarde sont des établissements privés ou associatifs dont l’existence répond à deux exigences : l’une d’ordre déontologique, l’autre à caractère réglementaire. Une quarantaine d’entre eux (dont nous faisons partie) répartis sur toute la France travaillent en réseau au sein de l’Union Française des Centres de Sauvegarde (UFCS).
    <br><br>
    <em> Le centre de sauvegarde est fermé au public.</em>
  </p>

  <div class="pages-lps-images-container">

    <div class="row">
      <div class="col">
      <%= image_tag "backup_center1.jpg", alt: "Centre de sauvegarde", title: "Centre de sauvegarde", class: "pages-lps-images"%>
      </div>
    </div>
    <div class="row">
      <div class="col">
      <%= image_tag "backup_center3.jpg", alt: "Centre de sauvegarde", title: "Centre de sauvegarde", class: "pages-lps-images"%>
      </div>
      <div class="col">
      <%= image_tag "backup_center4.jpg", alt: "Centre de sauvegarde", title: "Centre de sauvegarde", class: "pages-lps-images"%>
      </div>
    </div>
    <div class="row">
      <div class="col">
      <%= image_tag "backup_center2.jpg", alt: "Centre de sauvegarde", title: "Centre de sauvegarde", class: "pages-lps-images"%>
      </div>
    </div>

  </div>
</div>
