<% content_for :meta_title, "Le Parc Sauvage - Volerie" %>
<% content_for :meta_description, "Le Parc Sauvage - Volerie" %>

<%= render(
  'shared/banner',
  img: "falconry.jpg",
  img_alt: "Volerie",
  img_title: "Volerie",
  title: "La Volerie du Parc Sauvage - ouverture 2020"
) %>

<div class="container text-justify">
  <p>
    Nos oiseaux de proie vous accueilleront dans un parcours où vous pourrez découvrir ces animaux surprenants. Nos fauconniers seront présents pour vous faire découvrir les prouesses des oiseaux de proie lors d’un spectacle de 30 minutes.
    <br><br>
    <em>Les démonstrations sont susceptibles d’être annulées ou modifiées en fonction des conditions climatiques.</em>
    <br><br>
    Démonstration à 11h00 et 16h30.
  </p>
  <%= link_to 'En savoir plus sur les animaux', 'https://www.elevageparcsauvage.com', target: '_blank', class: 'button button-green' %>
  <div class="row">
    <div class="col">
      <%= image_tag "falconry2.jpg", alt: "Volerie 2", title: "Volerie 2", class: "pages-lps-images pb-0"%>
      <p class="text-center">Hibou Grand Duc <em>Bubo bubo</em></p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-6">
      <%= image_tag "falconry1.jpg", alt: "Volerie 1", title: "Volerie 1", class: "pages-lps-images pb-0"%>
      <p class="text-center">Buse variable <em>Buteo buteo</em></p>
    </div>
    <div class="col-sm-12 col-md-6">
      <%= image_tag "falconry3.jpg", alt: "Volerie 3", title: "Volerie 3", class: "pages-lps-images pb-0"%>
      <p class="text-center">Faucon sacré <em>Falco cherrug</em></p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <%= image_tag "falconry4.jpg", alt: "Volerie 4", title: "Volerie 4", class: "pages-lps-images pb-0"%>
      <p class="text-center">Buse de Harris <em>Parabuteo unicinctus</em></p>
    </div>
  </div>
</div>
