<% content_for :meta_title, "Le Parc Sauvage - Fauconnerie" %>
<% content_for :meta_description, "Le Parc Sauvage - Fauconnerie" %>

<%= render(
  'shared/banner',
  img: "falconry.jpg",
  img_alt: "photo fauconnerie",
  img_title: "photo fauconnerie",
  title: "La Fauconnerie du Parc Sauvage - ouverture 2020"
) %>

<div class="container pages-lps-container text-justify">
  <p>
    Faucons, buses, aigles, chouettes, hiboux et vautours vous accueilleront dans un parcours où vous pourrez découvrir ces animaux surprenants. Nos fauconniers seront présents pour vous faire découvrir les prouesses des oiseaux de proie lors d’un spectacle de 45 minutes.
    <br><br>
    <em>Les spectacles pourront être annulé pour des raisons climatiques ou de fréquentations.</em>
  </p>

  <div class="pages-lps-images-container">

    <div class="row">
      <div class="col">
      <%= image_tag "falconry1.jpg", alt: "falconry1", title: "falconry1", class: "pages-lps-images"%>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <%= image_tag "falconry2.jpg", alt: "falconry2", title: "falconry2", class: "pages-lps-images"%>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <%= image_tag "falconry3.jpg", alt: "falconry3", title: "falconry3", class: "pages-lps-images"%>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <%= image_tag "falconry4.jpg", alt: "falconry4", title: "falconry4", class: "pages-lps-images"%>
      </div>
    </div>

  </div>
</div>
