<% content_for :meta_title, "Le Parc Sauvage - Volerie" %>
<% content_for :meta_description, "Le Parc Sauvage - Volerie" %>

<%= render(
  'shared/banner',
  img: "falconry.png",
  img_alt: "Volerie",
  img_title: "Volerie",
  title: "La Volerie du Parc Sauvage"
) %>

<div class="container text-justify">
  <p>
    Nos oiseaux de proie vous accueilleront dans un parcours où vous pourrez découvrir ces animaux surprenants. Nos fauconniers seront présents pour vous faire découvrir les prouesses des oiseaux de proie lors de présentation publique de 30 minutes.
    <div class="row">
      <div class="col">
        <%= image_tag "falconry6.png", alt: "Volerie 6", title: "Volerie 6", class: "pages-lps-images pb-0"%>
        <p class="text-center">Aire de spectacle</p>
      </div>
    </div>
  </p>
  <p>
    <em>Les démonstrations sont susceptibles d’être annulées ou modifiées en fonction des conditions climatiques.</em>
    <br><br>
    Démonstration à 11h00 et 16h30.
  </p>
  <div class="row">
    <div class="col">
      <%= image_tag "falconry2.jpg", alt: "Volerie 2", title: "Volerie 2", class: "pages-lps-images pb-0" %>
      <p class="text-center">Hibou Grand Duc <em>Bubo bubo</em></p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-6">
      <%= image_tag "falconry1.jpg", alt: "Volerie 1", title: "Volerie 1", class: "pages-lps-images pb-0" %>
      <p class="text-center">Buse variable <em>Buteo buteo</em></p>
    </div>
    <div class="col-sm-12 col-md-6">
      <%= image_tag "falconry3.jpg", alt: "Volerie 3", title: "Volerie 3", class: "pages-lps-images pb-0" %>
      <p class="text-center">Faucon sacre <em>Falco cherrug</em></p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <%= image_tag "falconry4.jpg", alt: "Volerie 4", title: "Volerie 4", class: "pages-lps-images pb-0" %>
      <p class="text-center">Buse de Harris <em>Parabuteo unicinctus</em></p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-6">
      <%= image_tag "falconry7.png", alt: "Volerie 7", title: "Volerie 7", class: "pages-lps-images pb-0" %>
      <p class="text-center">Harfang des neiges <em>Bubo scandiacus unicinctus</em></p>
    </div>
    <div class="col-sm-12 col-md-6">
      <%= image_tag "falconry8.png", alt: "Volerie 8", title: "Volerie 8", class: "pages-lps-images pb-0" %>
      <p class="text-center">Xena - Hibou Grand Duc d'Europe <em>Bubo bubo</em></p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <%= image_tag "falconry10.png", alt: "Volerie 10", title: "Volerie 10", class: "pages-lps-images pb-0" %>
      <p class="text-center">Hanska - Faucon Crécerelle <em>Falco tinnunculus</em></p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-6">
      <%= image_tag "falconry9.png", alt: "Volerie 9", title: "Volerie 9", class: "pages-lps-images pb-0" %>
      <p class="text-center">Zelda - Faucon Sacre <em>Falco cherrug</em></p>
    </div>
    <div class="col-sm-12 col-md-6">
      <%= image_tag "falconry5.png", alt: "Volerie 5", title: "Volerie 5", class: "pages-lps-images pb-0" %>
      <p class="text-center">Vautour Fauve <em>Gyps fulvus</em></p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-6">
      <%= image_tag "falconry11.png", alt: "Volerie 11", title: "Volerie 11", class: "pages-lps-images pb-0" %>
      <p class="text-center">Chouette Effraie (couple en volière) <em>Tyto alba</em></p>
    </div>
    <div class="col-sm-12 col-md-6">
      <%= image_tag "falconry12.png", alt: "Volerie 12", title: "Volerie 12", class: "pages-lps-images pb-0" %>
      <p class="text-center">Drago - Buse de Harris <em>Parabuteo unicinctus alba</em></p>
    </div>
  </div>
</div>
