<% content_for :meta_title, "Le Parc Sauvage - Volerie" %>
<% content_for :meta_description, "Le Parc Sauvage - Volerie" %>

<%= render(
  'shared/banner',
  img: "falconry.png",
  img_alt: "Volerie",
  img_title: "Volerie",
  title: "La Volerie du Parc Sauvage"
) %>

<div class="container text-justify">
  <p>
    Nos oiseaux de proie vous accueilleront dans un parcours où vous pourrez découvrir ces animaux surprenants. Nos fauconniers seront présents pour vous faire découvrir les prouesses des oiseaux lors des présentations à 11h15 et lors de notre spectacle "Le Faucon Dérobé" à 16h30.
    <div class="row">
      <div class="col">
        <%= image_tag "falconry6.png", alt: "Volerie 6", title: "Volerie 6", class: "pages-lps-images pb-0"%>
        <p class="text-center">Aire de spectacle</p>
      </div>
    </div>
  </p>
  <p>
    <em>Les démonstrations et spectacles sont susceptibles d’être annulées ou modifiées en fonction des conditions climatiques.</em>
    <br><br>
    Démonstration à 11h00 et 16h30.
  </p>
  <div class="row">
    <div class="col-sm-12 col-md-6">
      <%= image_tag "falconry7.png", alt: "Volerie 7", title: "Volerie 7", class: "pages-lps-images pb-0" %>
      <p class="text-center">Harfang des neiges <em>Bubo scandiacus</em></p>
    </div>
    <div class="col-sm-12 col-md-6">
      <%= image_tag "falconry8.png", alt: "Volerie 8", title: "Volerie 8", class: "pages-lps-images pb-0" %>
      <p class="text-center">Xena - Hibou Grand Duc d'Europe <em>Bubo bubo</em></p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <%= image_tag "falconry10.png", alt: "Volerie 10", title: "Volerie 10", class: "pages-lps-images pb-0" %>
      <p class="text-center">Hanska - Faucon Crécerelle <em>Falco tinnunculus</em></p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-6">
      <%= image_tag "falconry9.png", alt: "Volerie 9", title: "Volerie 9", class: "pages-lps-images pb-0" %>
      <p class="text-center">Zelda - Faucon Sacre <em>Falco cherrug</em></p>
    </div>
    <div class="col-sm-12 col-md-6">
      <%= image_tag "falconry5.png", alt: "Volerie 5", title: "Volerie 5", class: "pages-lps-images pb-0" %>
      <p class="text-center">Tram - Vautour Fauve <em>Gyps fulvus</em></p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-6">
      <%= image_tag "falconry11.png", alt: "Volerie 11", title: "Volerie 11", class: "pages-lps-images pb-0" %>
      <p class="text-center">Chouette Effraie (couple en volière) <em>Tyto alba</em></p>
    </div>
    <div class="col-sm-12 col-md-6">
      <%= image_tag "falconry12.png", alt: "Volerie 12", title: "Volerie 12", class: "pages-lps-images pb-0" %>
      <p class="text-center">Drago - Buse de Harris <em>Parabuteo unicinctus</em></p>
    </div>
  </div>
</div>
