<% content_for(:navbar_lps_class, "navbar-lps--transparent") %>
<% content_for(:div_below_navbar_lps_class, "d-none") %>

<div class="banner-home"">
  <%= render "shared/features" %>
</div>
<div class="container">
  <div class="main-title">
    <h1>Les dernières actualités du Parc Sauvage</h1>
  </div>
  <div class="row">
    <% @blogposts.first(4).each do |blogpost| %>
      <div class="col-xs-12 col-sm-6 col-lg-3">
        <div class="card shadow bg-white rounded">
          <%= cl_image_tag blogpost.photo, class:"card-img-top"%>
          <div class="card-body">
            <div class="card-text">
              <p><%= blogpost.title %></p>
            </div>
            <%= link_to "Lire la suite", blogpost_path(blogpost), class: "button button-transparent" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="row">
    <div class="col">
      <div class="mt-4 text-center">
        <%= link_to "Voir toutes les actualités", blogposts_path, class: "button button-green" %>
      </div>
    </div>
  </div>
</div>
<div class="container pages-lps-container text-center">
  <div class="main-title">
    <h1>Le Parc Sauvage, qui sommes-nous ?</h1>
  </div>
  <p>
    Venez découvrir l’univers des animaux dans un cadre sauvage et en sécurité comme au temps d’autrefois.
    <br><br>
    Si nous devions résumer l’univers du « Le Parc Sauvage », c’est la combinaison de la passion et de l’amour des animaux qui nous amené dans cette aventure.
    Notre univers fait peu plus de 15 hectares et est ouvert à tous, un univers unique en Nouvelle Aquitaine où se mêlent animaux de ferme, animaux de nos forêts et volerie avec nos rapaces dans un monde moyenâgeux.
    <br><br>
    En 2019 seul la ferme pédagogique sera ouverte afin de continuer à préparer la suite pour vous accueillir dans les meilleures conditions.
    N’hésitez pas à visiter nos pages sur les différents pôles du zoo-parc.
  </p>
</div>
<div class="container">
  <div class="text-center mt-4">
    <p><em>Notre projet est soutenu par :</em></p>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <%= image_tag "logoUE.jpg", alt: "Union Européenne", title: "Union Européenne", class: "home-lps-images"%>
    </div>
    <div class="col-sm-6">
      <%= image_tag "logoNA.jpg", alt: "Nouvelle Aquitaine", title: "Nouvelle Aquitaine", class: "home-lps-images"%>
    </div>
  </div>
</div>
