<% content_for :meta_title, "Le Parc Sauvage - Partenariats" %>
<% content_for :meta_description, "Le Parc Sauvage - Partenariats" %>

<div class="main-title text-center">
  <p><em><strong>Nous remercions chaleureusement tous nos partenaires pour leur soutien</strong></em></p>
</div>

<div class="container">
  <div class="row">
    <div class="col">
      <%= image_tag "logoaquiactive.png", alt: "Aquitaine Active", title: "Aquitaine Active", class: "partnerships-images-lps"%>
    </div>
    <div class="col">
      <%= image_tag "logoarchi.png", alt: "Haller Architecture", title: "Haller Architecture", class: "partnerships-images-lps"%>
    </div>
    <div class="col">
      <%= image_tag "logoaxa.png", alt: "AXA", title: "AXA", class: "partnerships-images-lps"%>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <%= image_tag "logoclub.png", alt: "Club d'entreprise", title: "Club d'entreprise", class: "partnerships-images-lps"%>
    </div>
    <div class="col">
      <%= image_tag "logocreditcoop.png", alt: "Crédit Coopératif", title: "Crédit Coopératif", class: "partnerships-images-lps"%>
    </div>
    <div class="col">
      <%= image_tag "logoleclerc.png", alt: "Leclerc", title: "Leclerc", class: "partnerships-images-lps"%>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <%= image_tag "logomenu.png", alt: "Larrouy menuiserie", title: "Larrouy menuiserie", class: "partnerships-images-lps"%>
    </div>
    <div class="col">
      <%= image_tag "logomicrosensory.png", alt: "Microsenrory", title: "Microsenrory", class: "partnerships-images-lps"%>
    </div>
    <div class="col">
      <%= image_tag "logoNA.jpg", alt: "Nouvelle Aquitaine", title: "Nouvelle Aquitaine", class: "partnerships-images-lps"%>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <%= image_tag "logonef.png", alt: "La NEF", title: "La NEF", class: "partnerships-images-lps"%>
    </div>
    <div class="col">
      <%= image_tag "logopartedis.png", alt: "Partedis", title: "Partedis", class: "partnerships-images-lps"%>
    </div>
    <div class="col">
      <%= image_tag "logoriberac.png", alt: "Communauté des communes", title: "Communauté des communes", class: "partnerships-images-lps"%>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <%= image_tag "logoUE.jpg", alt: "Union Européenne", title: "Union Européenne", class: "partnerships-images-lps"%>
    </div>
  </div>
</div>
