<% content_for :meta_title, "Le Parc Sauvage - Partenariats" %>
<% content_for :meta_description, "Le Parc Sauvage - Partenariats" %>
<<<<<<< Updated upstream
=======

<div class="main-title text-center">
  <p><em><strong>Nous remercions chaleureusement tous nos partenaires pour leur soutien</strong></em></p>
</div>

<div class="container">
  <div class="row justify-content-center">
    <%= render(
      'pages/partnerships/image',
      img: "logoaquiactive.png",
      img_alt: "Aquitaine Active",
      img_title: "Aquitaine Active"
    ) %>
    <%= render(
      'pages/partnerships/image',
      img: "logoarchi.png",
      img_alt: "Haller Architecture",
      img_title: "Haller Architecture"
    ) %>
    <%= render(
      'pages/partnerships/image',
      img: "logoaxa.png",
      img_alt: "AXA",
      img_title: "AXA"
    ) %>
    <%= render(
      'pages/partnerships/image',
      img: "logoclub.png",
      img_alt: "Club d'entreprise",
      img_title: "Club d'entreprise"
    ) %>
    <%= render(
      'pages/partnerships/image',
      img: "logocreditcoop.png",
      img_alt: "Crédit Coopératif",
      img_title: "Crédit Coopératif"
    ) %>
    <%= render(
      'pages/partnerships/image',
      img: "logoleclerc.png",
      img_alt: "Leclerc",
      img_title: "Leclerc"
    ) %>
    <%= render(
      'pages/partnerships/image',
      img: "logomenu.png",
      img_alt: "Larrouy menuiserie",
      img_title: "Larrouy menuiserie"
    ) %>
    <%= render(
      'pages/partnerships/image',
      img: "logomicrosensory.png",
      img_alt: "Microsenrory",
      img_title: "Microsenrory"
    ) %>
    <%= render(
      'pages/partnerships/image',
      img: "logoNA.jpg",
      img_alt: "Nouvelle Aquitaine",
      img_title:  "Nouvelle Aquitaine"
    ) %>
    <%= render(
      'pages/partnerships/image',
      img: "logonef.png",
      img_alt: "La NEF",
      img_title:  "La NEF"
    ) %>
    <%= render(
      'pages/partnerships/image',
      img: "logopartedis.png",
      img_alt: "Partedis",
      img_title:  "Partedis"
    ) %>
     <%= render(
      'pages/partnerships/image',
      img: "logoriberac.png",
      img_alt: "Communauté des communes",
      img_title: "Communauté des communes"
    ) %>
     <%= render(
      'pages/partnerships/image',
      img: "logoUE.jpg",
      img_alt: "Union Européenne",
      img_title: "Union Européenne"
    ) %>
  </div>
</div>
>>>>>>> Stashed changes
