<% content_for :meta_title, "Le Parc Sauvage - Ferme pédagogique" %>
<% content_for :meta_description, "Le Parc Sauvage - Ferme pédagogique" %>

<%= render(
  'shared/banner',
  img: "pedagogical_farm.png",
  img_alt: "Ferme pédagogique",
  img_title: "Ferme pédagogique",
  title: "La Ferme Pédagogique du Parc Sauvage"
) %>

<div class="container text-justify">
  <p>
    <em>"Expliquer c'est déja comprendre pourquoi !"</em>
    <br>
    Nous vous accueillons dans un cadre adapté et encadré par une équipe de professionnels passionnés par l'environnement.
    <br> <br>
    <em>"Pas de question bête, nous vous répondrons"</em>
    <br>
    Nous sommes continuellement présents afin de répondre à vos questionnements, des panneaux pédagogiques se trouvent tout le long du parcours autour des animaux.
    Nous élevons ici des races peu courantes : vache Dexter, mouton d’Ouessant, mouton Suffolk, chèvre Angora, âne du Poitou, cochon cul noir, lapin Bourgogne, poule Brahma...
    <br><br>
    Toucher, sentir, voir nos animaux en immersion sous la surveillance de nos bergers australiens.
    <br><br>
    Goûter des animaux à 15h00.
  </p>
  <%= link_to 'En savoir plus sur les animaux', 'https://www.elevageparcsauvage.com', target: '_blank', class: 'button button-green' %>
  <div class="row">
    <div class="col-sm-12 col-md-6">
      <%= image_tag "pedagogical_farm16.png", alt: "Ferme pédagogique 16", title: "Ferme pédagogique 16", class: "pages-lps-images" %>
      <p class="text-center">Ange - Âne du Poitou</p>
    </div>
    <div class="col-sm-12 col-md-6">
      <%= image_tag "pedagogical_farm6.png", alt: "Ferme pédagogique 6", title: "Ferme pédagogique 6", class: "pages-lps-images" %>
      <p class="text-center">Gabriel - Âne du Poitou</p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <%= image_tag "pedagogical_farm7.png", alt: "Ferme pédagogique 7", title: "Ferme pédagogique 7", class: "pages-lps-images" %>
      <p class="text-center">Chèvres Angora</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-6">
      <%= image_tag "pedagogical_farm9.png", alt: "Ferme pédagogique 9", title: "Ferme pédagogique 9", class: "pages-lps-images" %>
      <p class="text-center">Moutons d’Ouessant</p>
    </div>
    <div class="col-sm-12 col-md-6">
      <%= image_tag "pedagogical_farm10.png", alt: "Ferme pédagogique 10", title: "Ferme pédagogique 10", class: "pages-lps-images" %>
      <p class="text-center">Alaska - Chien-Loup Américain</p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <%= image_tag "pedagogical_farm8.png", alt: "Ferme pédagogique 8", title: "Ferme pédagogique 8", class: "pages-lps-images" %>
      <p class="text-center">Furet</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-6">
      <%= image_tag "pedagogical_farm11.png", alt: "Ferme pédagogique 11", title: "Ferme pédagogique 11", class: "pages-lps-images" %>
      <p class="text-center">Souris - Cheval Comtois</p>
    </div>
    <div class="col-sm-12 col-md-6">
      <%= image_tag "pedagogical_farm12.png", alt: "Ferme pédagogique 12", title: "Ferme pédagogique 12", class: "pages-lps-images" %>
      <p class="text-center">Coq Ayam Cemani</p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <%= image_tag "pedagogical_farm13.png", alt: "Ferme pédagogique 13", title: "Ferme pédagogique 13", class: "pages-lps-images" %>
      <p class="text-center">Coq Sebright</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-6">
      <%= image_tag "pedagogical_farm14.png", alt: "Ferme pédagogique 14", title: "Ferme pédagogique 14", class: "pages-lps-images" %>
      <p class="text-center"> Vache Dexter</p>
    </div>
    <div class="col-sm-12 col-md-6">
      <%= image_tag "pedagogical_farm5.png", alt: "Ferme pédagogique 5", title: "Ferme pédagogique 5", class: "pages-lps-images" %>
      <p class="text-center">Lapin Géant Papillon Français</p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <%= image_tag "pedagogical_farm15.png", alt: "Ferme pédagogique 15", title: "Ferme pédagogique 15", class: "pages-lps-images" %>
      <p class="text-center">Cochon Cul Noir Limousin</p>
    </div>
  </div>
</div>
