<% content_for :meta_title, "Le Parc Sauvage - Ferme pédagogique" %>
<% content_for :meta_description, "Le Parc Sauvage - Ferme pédagogique" %>

<%= render(
  'shared/banner',
  img: "pedagogical_farm.jpg",
  img_alt: "Ferme pédagogique",
  img_title: "Ferme pédagogique",
  title: "La Ferme Pédagogique du Parc Sauvage"
) %>

<div class="container text-justify">
  <p>
    <em>"Expliquer c'est déja comprendre pourquoi !"</em>
    <br>
    Nous vous accueillons dans un cadre adapté et encadré par une équipe de professionnels passionnés par l'environnement.
    <br> <br>
    <em>"Pas de question bête, nous vous répondrons"</em>
    <br>
    Nous sommes continuellement présents afin de répondre à vos questionnements, des panneaux pédagogiques se trouvent tout le long du parcours autour des animaux.
    Nous élevons ici des races peu courantes : Vache Dexter, Mouton d’Ouessant, Mouton Suffolk, Âne miniature, Âne du Poitou, Cochon cul noir, Lapin Bourgogne, Poule Brahama...
    <br><br>
    Toucher, sentir, voir nos animaux en immersion ou parc sous la surveillance de nos bergers australiens.
  </p>
  <div class="row">
    <div class="col">
      <%= image_tag "pedagogical_farm3.jpg", alt: "Ferme pédagogique 3", title: "Ferme pédagogique 3", class: "pages-lps-images"%>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <%= image_tag "pedagogical_farm1.jpg", alt: "Ferme pédagogique 1", title: "Ferme pédagogique 1", class: " pages-lps-images"%>
    </div>
    <div class="col">
      <%= image_tag "pedagogical_farm2.jpg", alt: "Ferme pédagogique 2", title: "Ferme pédagogique 2", class: "pages-lps-images"%>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <%= image_tag "pedagogical_farm4.jpg", alt: "Ferme pédagogique 4", title: "Ferme pédagogique 4", class: "pages-lps-images"%>
    </div>
  </div>
</div>
