<% content_for :meta_title, "Le Parc Sauvage - Notre équipe" %>
<% content_for :meta_description, "Le Parc Sauvage - Notre équipe" %>

<%= render(
  'shared/banner',
  img: "team_page.png",
  img_alt: "Equipe",
  img_title: "Equipe",
  title: "L'Équipe du Parc Sauvage"
) %>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-xs-12 col-sm-6 col-lg-3 d-flex">
      <div class="card team-card shadow bg-white rounded mb-4 flex-fill">
        <%= image_tag "alexandre.png", alt: "Alexandre", title: "Alexandre", class: "card-img-top"%>
        <div class="card-body">
          <div class="card-title">
            <h2>Alexandre</h2>
          </div>
          <div class="card-text">
            <p>Fondateur et directeur du Parc Sauvage</p>
          </div>
        </div>
        <div class="team-card-infos text-center d-none d-md-block">
            <p>Alexandre s’initie dès son plus jeune âge à la fauconnerie et devient rapidement l'un des plus jeune fauconnier de France. il s’intéresse à la reproduction et à l’élevage de ces derniers. Il conseille souvent sur les plateaux de télé et les tournages de films sur ses méthodes pédagogiques et techniques de dressage. </p>
        </div>
        <div class="team-card-infos-small-devices text-center d-block d-md-none text-center ">
          <p>Alexandre s’initie dès son plus jeune âge à la fauconnerie et devient rapidement l'un des plus jeune fauconnier de France. il s’intéresse à la reproduction et à l’élevage de ces derniers. Il conseille souvent sur les plateaux de télé et les tournages de films sur ses méthodes pédagogiques et techniques de dressage. </p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-lg-3 d-flex">
      <div class="card team-card shadow bg-white rounded mb-4 flex-fill">
        <%= image_tag "marine.jpg", alt: "Alexandre", title: "Alexandre", class: "card-img-top"%>
        <div class="card-body">
          <div class="card-title">
            <h2>Marine</h2>
          </div>
          <div class="card-text">
            <p>Volontaire en Service Civique</p>
          </div>
        </div>
        <div class="team-card-infos text-center d-none d-md-block">
          <p>C’est après un voyage humanitaire au Laos que Marine se découvre une passion pour les animaux sauvages ainsi que les rapaces, soucieuse de leur sauvegarde et de leur intégrité, fascinée par le vol leurs prestances, elle cherche alors une voie vers un métier qui s’en rapprocherait.</p>
        </div>
        <div class="team-card-infos-small-devices text-center d-block d-md-none text-center ">
          <p>C’est après un voyage humanitaire au Laos que Marine se découvre une passion pour les animaux sauvages ainsi que les rapaces, soucieuse de leur sauvegarde et de leur intégrité, fascinée par le vol leurs prestances, elle cherche alors une voie vers un métier qui s’en rapprocherait.</p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-lg-3 d-flex">
      <div class="card team-card shadow bg-white rounded mb-4 flex-fill">
        <%= image_tag "luc.png", alt: "Luc", title: "Luc", class: "card-img-top"%>
        <div class="card-body">
          <div class="card-title">
            <h2>Luc</h2>
          </div>
          <div class="card-text">
            <p>Volontaire en Service Civique</p>
          </div>
        </div>
        <div class="team-card-infos text-center d-none d-md-block">
          <p> Luc a toujours aimé les animaux, depuis petit il vis avec beaucoup d’animaux. C’est une passion qu’il peut enfin exercer et en apprendre encore plus sur les animaux. Pouvoir s’occuper des animaux et quelque chose qui lui tiens à cœur. Son objectif est que les animaux se sentent bien, propre et en sécurité dans leur environnement. </p>
        </div>
        <div class="team-card-infos-small-devices text-center d-block d-md-none text-center ">
          <p>Luc a toujours aimé les animaux, depuis petit il vis avec beaucoup d’animaux. C’est une passion qu’il peut enfin exercer et en apprendre encore plus sur les animaux. Pouvoir s’occuper des animaux et quelque chose qui lui tiens à cœur. Son objectif est que les animaux se sentent bien, propre et en sécurité dans leur environnement. </p>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-lg-3 d-flex">
      <div class="card team-card shadow bg-white rounded mb-4 flex-fill">
        <%= image_tag "marie.png", alt: "Marie", title: "Marie", class: "card-img-top"%>
        <div class="card-body">
          <div class="card-title">
            <h2>Marie</h2>
          </div>
          <div class="card-text">
            <p>Volontaire en Service Civique</p>
          </div>
        </div>
        <div class="team-card-infos text-center d-none d-md-block">
          <p> Marie est passionnée par les animaux depuis son plus jeune âge, elle voit en eux de grands catalyseur sociaux et est passionné par leur contact, curieuse des différents modes de vie, caractères selon les espèces.</p>
        </div>
        <div class="team-card-infos-small-devices text-center d-block d-md-none text-center ">
          <p>Marie est passionnée par les animaux depuis son plus jeune âge, elle voit en eux de grands catalyseur sociaux et est passionné par leur contact, curieuse des différents modes de vie, caractères selon les espèces.</p>
        </div>
      </div>
    </div>
  </div>
</div>
