<% content_for :meta_title, "Le Parc Sauvage - Notre équipe" %>
<% content_for :meta_description, "Le Parc Sauvage - Notre équipe" %>

<%= render(
  'shared/banner',
  img: "team_page.png",
  img_alt: "Equipe",
  img_title: "Equipe",
  title: "L'Équipe du Parc Sauvage"
) %>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-12 col-md-6 col-lg-3 d-flex">
      <div class="card team-card shadow bg-white rounded mb-4 flex-fill">
        <%= image_tag "alexandre.png", alt: "Alexandre", title: "Alexandre", class: "card-img-top"%>
        <div class="card-body">
          <div class="card-title">
            <h2>Alexandre</h2>
          </div>
          <div class="card-text">
            <p>Fondateur et directeur du Parc Sauvage</p>
          </div>
        </div>

        <div class="team-card-infos text-center d-none d-md-block">
          <%= render('shared/description_alexandre') %>
        </div>
        <div class="team-card-infos-small-devices text-center d-block d-md-none text-center ">
          <%= render('shared/description_alexandre') %>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-3 d-flex">
      <div class="card team-card shadow bg-white rounded mb-4 flex-fill">
        <%= image_tag "marine.jpg", alt: "Alexandre", title: "Alexandre", class: "card-img-top"%>
        <div class="card-body">
          <div class="card-title">
            <h2>Marine</h2>
          </div>
          <div class="card-text">
            <p>Volontaire en Service Civique</p>
          </div>
        </div>
        <div class="team-card-infos text-center d-none d-md-block">
          <%= render('shared/description_marine') %>
        </div>
        <div class="team-card-infos-small-devices text-center d-block d-md-none text-center ">
          <%= render('shared/description_marine') %>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-3 d-flex">
      <div class="card team-card shadow bg-white rounded mb-4 flex-fill">
        <%= image_tag "luc.png", alt: "Luc", title: "Luc", class: "card-img-top"%>
        <div class="card-body">
          <div class="card-title">
            <h2>Luc</h2>
          </div>
          <div class="card-text">
            <p>Volontaire en Service Civique</p>
          </div>
        </div>
        <div class="team-card-infos text-center d-none d-md-block">
          <%= render('shared/description_luc') %>
        </div>
        <div class="team-card-infos-small-devices text-center d-block d-md-none text-center ">
          <%= render('shared/description_luc') %>
        </div>
      </div>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-3 d-flex">
      <div class="card team-card shadow bg-white rounded mb-4 flex-fill">
        <%= image_tag "marie.png", alt: "Marie", title: "Marie", class: "card-img-top"%>
        <div class="card-body">
          <div class="card-title">
            <h2>Marie</h2>
          </div>
          <div class="card-text">
            <p>Volontaire en Service Civique</p>
          </div>
        </div>
        <div class="team-card-infos text-center d-none d-md-block">
          <%= render('shared/description_marie') %>
        </div>
        <div class="team-card-infos-small-devices text-center d-block d-md-none text-center ">
          <%= render('shared/description_marie') %>
        </div>
      </div>
    </div>
  </div>
</div>
