<% content_for :meta_title, "Le Parc Sauvage - Parc de vision" %>
<% content_for :meta_description, "Le Parc Sauvage - Parc de vision" %>

<%= render(
  'shared/banner',
  img: "vision_park.jpg",
  img_alt: "photo parc de vision",
  img_title: "photo parce de vision",
  title: "Le parc de vision du Parc Sauvage - ouverture 2021"
)%>

<div class="container pages-lps-container text-justify">
  <p>
    Un parc de vision où vous pourrez rencontrer cerfs, biches, chevreuils, daims en contact direct mais également des enclos pour découvrir renards, blaireaux, putois, cerf, faisan…
    <br>
    En résumé, la plupart des animaux de nos forêts a découvrir sur 1,5 km de chemins accessibles à tous.
  </p>


  <div class="pages-lps-images-container">

    <div class="row">
      <div class="col">
      <%= image_tag "vision_park1.jpg", alt: "Vision Park", title: "Vision Park", class: "pages-lps-images"%>
      </div>
      <div class="col">
      <%= image_tag "vision_park2.jpg", alt: "Vision Park", title: "Vision Park", class: "pages-lps-images"%>
      </div>
    </div>
    <div class="row">
      <div class="col">
      <%= image_tag "vision_park3.jpg", alt: "Vision Park", title: "Vision Park", class: "pages-lps-images"%>
      </div>
    </div>
    <div class="row">
      <div class="col">
      <%= image_tag "vision_park4.jpg", alt: "Vision Park", title: "Vision Park", class: "pages-lps-images"%>
      </div>
    </div>

  </div>

</div>
