<% content_for :meta_title, "Le Parc Sauvage - Parc de vision" %>
<% content_for :meta_description, "Le Parc Sauvage - Parc de vision" %>

<%= render(
  'shared/banner',
  img: "vision_park.png",
  img_alt: "Parc de vision",
  img_title: "Parc de vision",
  title: "Le parc de vision du Parc Sauvage - ouverture 2021"
) %>

<div class="container text-justify">
  <p>
    Un parc de vision où vous pourrez rencontrer cerfs, biches, chevreuils, daims en contact direct mais également des enclos pour découvrir renards, blaireaux, belettes, faisans…
    <br>
    En résumé, la plupart des animaux de nos forêts a découvrir sur 1,5 km de chemins accessibles à tous.
    <br><br>
    Un parc de vision où vous pourrez rencontrer cerfs, biches, chevreuils, daims en contact direct mais également des enclos pour découvrir renards, blaireaux, belettes, faisans...dès 2022.
    <br><br>
    Visite guidée avec un soigneur à 10h30, durée 20 minutes, tarif 1€ à partir de 3 ans (gratuit pour les - 3 ans).
  </p>
  <div class="row">
    <div class="col-sm-12 col-md-6">
      <%= image_tag "vision_park1.jpg", alt: "Parc de vision 1", title: "Parc de vision 1", class: "pages-lps-images"%>
    </div>
    <div class="col-sm-12 col-md-6">
      <%= image_tag "vision_park2.jpg", alt: "Parc de vision 2", title: "Parc de vision 2", class: "pages-lps-images"%>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <%= image_tag "vision_park4.jpg", alt: "Parc de vision 4", title: "Parc de vision 4", class: "pages-lps-images"%>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-6">
      <%= image_tag "vision_park3.jpg", alt: "Parc de vision 3", title: "Parc de vision 3", class: "pages-lps-images"%>
    </div>
    <div class="col-sm-12 col-md-6">
      <%= image_tag "vision_park5.png", alt: "Parc de vision 5", title: "Parc de vision 5", class: "pages-lps-images"%>
      <p class="text-center">Daim</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-6">
      <%= image_tag "vision_park6.png", alt: "Parc de vision 6", title: "Parc de vision 6", class: "pages-lps-images"%>
      <p class="text-center">Cerf Sika</p>
    </div>
    <div class="col-sm-12 col-md-6">
      <%= image_tag "vision_park7.png", alt: "Parc de vision 7", title: "Parc de vision 7", class: "pages-lps-images"%>
      <p class="text-center">Abby - Wallaby</p>
    </div>
  </div>
</div>
